<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
  	<style>
  		.dark{
  			color: #fff;
    		background-color: #343a40;
    		margin:0;
    		padding-left: 15px;
  		}
  		tr{
  			background-color: #fff;
  			border: 1px #ccc;
  			color:#333;
  			font-size:13pt;
  		}
  		tr:hover{
  			background-color: #fafafa;
  		}
  		span{
  			color: #999;
  		}
  		a:hover{
  			color:#343a40!important;
  		}
  		.row{
  			margin:0;
  		}
  	</style>
</head>
<body>
<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron dark">
		  <h1 class="display-4">HN Feed</h1>
		  <h2>We <3 hacker news!</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div ng-app="hack" ng-controller="gotHttp">
			<table ng-table ="newsTable" class="table" show-filter="false">
				<tbody>
				 	<tr ng-repeat="x in $data">
					    <td ng-if="x.title != null" filter="{ title: 'text'}" ng-click="goToLink(x.url,x.story_url)">{{ x.title }} <span>-{{x.author}}-</span></td>
						<td ng-if="x.title == null" filter="{ title: 'text'}" ng-click="goToLink(x.url,x.story_url)">{{ x.story_title }} <span>-{{x.author}}-</span></td>
					    <td ng-click="goToLink(x.url,x.story_url)" filter="{ author: 'text'}">{{ transformDate(x.created_at) }}</td>
					    <td ng-click="delete(x._id)"><span class="glyphicon glyphicon-trash"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	var app = angular.module('hack', ["ngTable"]);
	app.controller('gotHttp', function($scope, $http, $location, NgTableParams) {
	 	$http.get("http://localhost:8080/prueba/news")
	 	.then(function(response) {
		 	console.log(response);
		    var data = response.data;
		    $scope.newsTable = new NgTableParams({}, { dataset: data});

		    $scope.goToLink = function(url,surl){
		    	if(url == "" || url == null) url = surl;
		    	 window.open(url);
		    }

		    $scope.transformDate = function(date){
	            const seconds = Math.floor((+new Date() - +new Date(date)) / 1000);
	            if (seconds < 29) // less than 30 seconds ago will show as 'Just now'
	                return 'Just now';
	            const intervals = {
	                'year': 31536000,
	                'month': 2592000,
	                'week': 604800,
	                'day': 86400,
	                'hour': 3600,
	                'minute': 60,
	                'second': 1
	            };
	            let counter;
	            for (const i in intervals) {
	                counter = Math.floor(seconds / intervals[i]);
	                if (counter > 0)
	                    if (counter === 1) {
	                        if(i == 'day') return 'Yesterday';
	                    	else return counter + ' ' + i + ' ago';
	                    } else {
	                        return counter + ' ' + i + 's ago';
	                    }
	            }
		    }

		    $scope.delete = function(id){
		    	console.log(id);
		    	$http.get("http://localhost:8080/prueba/news/delete/"+id)
	 			.then(function(response) {
	 				console.log("--------------------");
	 				console.log(response);
	 				$location.href = "index.html";
	 			});
		    }
		});
	});
</script> 

</body>
</html>